@body-padding: 10px;

body {
    padding: @body-padding;
    padding-top: 20px;
}

.title-bar {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.nav-back {
    position: absolute;
    left: @body-padding;
}

.nav-forward {
    position: absolute;
    right: @body-padding;
}

.goal-section {
    font-size: 16px;
}

.form-group {
    .form-element {
        margin-bottom: 10px;
    }

    .checkbox {
        margin-top: 20px;

        label {
            padding-left: 10px;
        }
    }

    .control-label {
        font-weight: normal;
    }
}
