@body-padding: 10px;

body {
    padding: @body-padding;
    padding-top: 20px;
}

.title-bar {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.nav-back {
    position: absolute;
    left: @body-padding;
}

.nav-forward {
    position: absolute;
    right: @body-padding;
}

.goal-section {
    font-size: 16px;

    &.week .title,
    &.month .title {
        padding-top: 30px;
    }

    .title {
        border-bottom: 1px solid lightgray;
        padding-bottom: 5px;
        font-weight: lighter;
    }

    .goal-list-entry {
        border-bottom: 1px solid lightgray;
        padding: 5px 0 5px 10px;
        margin: 0px;

        > .checkbox {
            margin: 0px;
            padding: 0px;
        }

        .goal-input {
            position: absolute;
            right: 10px;

            &.checkbox {
                display: inline-block;
                margin-right: 10px;
            }

            &.number {
                width: 60px;
                display: inline-block;
                text-align: right;
                padding: 0px 5px 0px 0px;
                height: 23px;
            }
        }
    }
}

.form-group {
    .form-element {
        margin-bottom: 10px;
    }

    .checkbox {
        margin-top: 20px;

        label {
            padding-left: 10px;
        }
    }

    .control-label {
        font-weight: normal;
    }
}
