<div class="title-bar">
    {{today}}
</div>

{{#unless hasGoals}}
    <div class="goal-section none">
        <div class="title">
            You don't have any goals yet
            {{#link-to "new" class="nav-forward"}}new{{/link-to}}
        </div>
    </div>
{{else}}
    <div class="goal-section today">
        <div class="title">
            Today's Goals
            {{#link-to "new" class="nav-forward"}}new{{/link-to}}
        </div>

    </div>
{{/unless}}
