<div class="title-bar">
    {{today}}
</div>

<div class="goal-section">
    <div class="title">
        Today's Goals
        {{#link-to "new" class="nav-forward"}}new{{/link-to}}
    </div>

</div>

{{#if hasGoals}}
    You have goals
{{else}}
    You don't have any goals
{{/if}}
