<div class="title-bar">
    {{#link-to "index" class="nav-link backward"}}Back{{/link-to}}
    Your Goals
</div>

<div class="goal-section">
    <div class="title"></div>

    {{#each goal in controller}}
        <div class="goal-list-entry">
            {{goal.name}}
            <button class="delete-goal" {{action delete goal}}>Delete</button>
        </div>
    {{/each}}
</div>
