<div class="title-bar">
    {{#link-to "index" class="nav-back"}}<span class="glyphicon glyphicon-chevron-left"></span>{{/link-to}}
    <span>New Goal</span>
    <a class="nav-forward" {{action save}}>Save</a>
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
</div>
