body {
  padding: 10px;
  padding-top: 20px;
}
.title-bar {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.nav-back {
  position: absolute;
  left: 10px;
}
.nav-forward {
  position: absolute;
  right: 10px;
}
.goal-section {
  font-size: 16px;
}
.form-group .form-control {
  margin-bottom: 10px;
}
.form-group .control-label {
  font-weight: normal;
}
